body {
    background: #eee;
}
/*------------------------for image zoom plagin------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

.show {
    width: 450px;
    height: 400px;
}

.small-img {
    width: 350px;
    height: 70px;
    margin-top: 10px;
    position: relative;
    left: 25px;
}

    .small-img .icon-left, .small-img .icon-right {
        width: 12px;
        height: 24px;
        cursor: pointer;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto 0;
    }

    .small-img .icon-left {
        transform: rotate(180deg)
    }

    .small-img .icon-right {
        right: 0;
    }

        .small-img .icon-left:hover, .small-img .icon-right:hover {
            opacity: .5;
        }

.small-container {
    width: 310px;
    height: 70px;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}

    .small-container div {
        width: 800%;
        position: relative;
    }

    .small-container .show-small-img {
        width: 70px;
        height: 70px;
        margin-right: 6px;
        cursor: pointer;
        float: left;
    }

        .small-container .show-small-img:last-of-type {
            margin-right: 0;
        }

/*------------------------End image zoom plagin------------------------------*/

.computerDescription {
    z-index: -1;
    position: relative;
}

/*------------------------------------------------- pagination-----------------------*/
.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.PagedList-pageCountAndLocation {
    display: none !important;
}

.pagination > .active > .page-link {
    background-color: #dc3545 !important;
}

.page-link {
    border: none !important;
    border-color: #dc3545 !important;
    color: #dc3545;
}
/*---------------------------------------------------- End pagination-------------------------*/


/*------------------------footer-------------------------------------------*/
.col_white_amrc {
    color: #FFF;
}

.footer {
    width: 100%;
    background-color: #263238;
    min-height: 250px;
    padding: 10px 0px 25px 0px;
}

.pt2 {
    padding-top: 40px;
    margin-bottom: 20px;
}

.footer p {
    font-size: 13px;
    color: #CCC;
    padding-bottom: 0px;
    margin-bottom: 8px;
}

.mb10 {
    padding-bottom: 15px;
}

.footer_ul_amrc {
    margin: 0px;
    list-style-type: none;
    font-size: 14px;
    padding: 0px 0px 10px 0px;
}

    .footer_ul_amrc li {
        padding: 0px 0px 5px 0px;
    }

        .footer_ul_amrc li a {
            color: #CCC;
        }

            .footer_ul_amrc li a:hover {
                color: #fff;
                text-decoration: none;
            }

.fleft {
    float: left;
}

.padding-right {
    padding-right: 10px;
}

.footer_ul2_amrc {
    margin: 0px;
    list-style-type: none;
    padding: 0px;
}

    .footer_ul2_amrc li p {
        display: table;
    }

    .footer_ul2_amrc li a:hover {
        text-decoration: none;
    }

    .footer_ul2_amrc li i {
        margin-top: 5px;
    }

.bottom_border {
    border-bottom: 1px solid #323f45;
    padding-bottom: 20px;
}

.foote_bottom_ul_amrc {
    list-style-type: none;
    padding: 0px;
    display: table;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
}

    .foote_bottom_ul_amrc li {
        display: inline;
    }

        .foote_bottom_ul_amrc li a {
            color: #999;
            margin: 0 12px;
        }

.social_footer_ul {
    display: table;
    margin: 15px auto 0 auto;
    list-style-type: none;
}

    .social_footer_ul li {
        padding-left: 20px;
        padding-top: 10px;
        float: left;
    }

        .social_footer_ul li a {
            color: #CCC;
            border: 1px solid #CCC;
            padding: 8px;
            border-radius: 50%;
        }

        .social_footer_ul li i {
            width: 20px;
            height: 20px;
            text-align: center;
        }
/*------------------------ Endfooter-------------------------------------------*/

.discount {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
}
.isNew {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
}

.page-item {
    margin: 0 3px 0 3px;
}


.detailsAddtoCart {
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

    .detailsAddtoCart:hover {
        text-decoration: none;
    }

.login_registration {
    display: flex;
    align-items: center;
    justify-content: center;
}
